{
    "token": "BOT-TOKEN",
    "owner": "152541437068705793",
    "prefix": "]",
    "categories": ["owner", "mod", "bot", "fun"],
    "logs": {
        "enabled": false,
        "channelId": "channel id"
    },
    "invites": {
        "allowInvite": false,
        "inviteURL": "Coming soon:tm:"
    },
    "dbans": {
        "usedbans": true,
        "key": "your key here"
    }
}
