{
    "token": "BOT-TOKEN",
    "owner": ["152541437068705793"],
    "pmx": false,
    "prefix": "]",
    "categories": ["owner", "mod", "bot", "fun"],
    "wolfram": {
        "enabled": false,
        "appID": "Your APPID"
    },
    "logs": {
        "enabled": false,
        "channelId": "channel id"
    },
    "invites": {
        "allowInvite": false,
        "inviteURL": "Coming soon:tm:"
    }
}
